@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
 
  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-primary text-black;
  }
}
